*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
    display: inline-block;
}

header{
    background-color: #ff6900;
    height: 70px;
    width: 100%;
    /* position: fixed;
    top: 0;
    bottom: 0; */
}

.col{
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center; 
}

ul{
    display: flex;
    width: 30%;    
}

li{
    list-style-type: none;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.logo img{    
   width: 20%;
   display: flex;
}

.account { 
    display: flex;
    color: white;
}

.account i{
    padding: 5px;
}
/* FINE HEADER */


/* INIZIO MAIN */
.container{
    width: 70%;
    display: flex;
    margin: 80px auto;
    flex-wrap: wrap;
}

.product{
    width: calc(100% / 3);
    padding: 0 10px;
    
}
/* inizio alternaza foto */
.photo{
    position: relative;
    top:0;
    bottom: 0;
}

.front{
    display: block;    
}

.back{
    display: none;
}

.photo:hover .back{
    display: block;   
}

.photo:hover .front{
    display: none;
}
            /* CUORE */
.heart{
    background-color: white;
    font-size: 40px;
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 0;
}

.sales{
    color: white;
    position: absolute;
    bottom: 50px;   
}

.box-red{
    background-color: red;
    padding: 5px;
}

.box-green{
    background-color: green;
    padding: 5px;
}


.description{
    display: block;
    margin-bottom: 40px;
}
/* fine alternaza foto */
/* descrizione */
.discount-price{
    color: red;
}
.original-price{
    text-decoration: line-through;
}